Repository CSIRT-MU/Cryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit_tests, integration_tests, build_documentation

Path conditions:
  unit_tests: any of: cryton/**/*, tests/**/*, .coveragerc-*, settings*, .gitlab-ci.yml, poetry.lock, pyproject.toml, tox.ini
  integration_tests: any of: cryton/**/*, tests/**/*, .coveragerc-*, settings*, .gitlab-ci.yml, poetry.lock, pyproject.toml, tox.ini
  build_documentation: any of: mkdocs.yml, docs/**/*, .gitlab-ci.yml

Updated Docker builds and bugfixing
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  Dockerfile-api-proxy
  Dockerfile-cli
  Dockerfile-hive
  Dockerfile-worker
  TODO.md
  docker-compose.dev.yml
  docker-compose.yml
  docker/hive/Dockerfile
  mkdocs.yml
  poetry.lock
  settings.yml
  tests/integration_tests/cli/test_cli.py
  tests/integration_tests/hive/test_creator.py
  tests/integration_tests/hive/test_listener.py
  tests/integration_tests/hive/test_rabbit.py
  tests/integration_tests/hive/test_run.py
  tests/unit_tests/cli/test_api.py
  tests/unit_tests/cli/test_util.py
  tests/unit_tests/hive/test_creator.py
  tests/unit_tests/hive/test_event.py
  tests/unit_tests/hive/test_gunicorn.py
  tests/unit_tests/hive/test_listener.py
  tests/unit_tests/hive/test_management.py
  tests/unit_tests/hive/test_plan.py
  tests/unit_tests/hive/test_rabbit_client.py
  tests/unit_tests/hive/test_rest.py
  tests/unit_tests/hive/test_run.py
  tests/unit_tests/hive/test_scheduler.py
  tests/unit_tests/hive/test_session.py
  tests/unit_tests/hive/test_stage.py
  tests/unit_tests/hive/test_states.py
  tests/unit_tests/hive/test_step.py
  tests/unit_tests/hive/test_util.py
  tests/unit_tests/hive/test_worker.py
Due: unit_tests, integration_tests, build_documentation

Added handling for undeployed pages
  .gitlab-ci.yml
Due: unit_tests, integration_tests, build_documentation

Set default version to latest in public with mike 2.0.0
  public/index.html
Due: none

CI and other optimizations
  .gitlab-ci.yml
  Dockerfile
  Dockerfile-api-proxy
  Dockerfile-cli
  Dockerfile-hive
  Dockerfile-worker
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/index.md
  docs/installation.md
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Optimized pages deployment and forbid cache when running tests
  .gitlab-ci.yml
  tox.ini
Due: unit_tests, integration_tests, build_documentation

Deployed cea6de2 to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/sitemap.xml.gz
Due: none

Deployed b916862 to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/sitemap.xml.gz
Due: none

Test modules and create tests
  cryton/lib/utility/module.py
  cryton/modules/command/module.py
  cryton/modules/ffuf/module.py
  cryton/modules/medusa/module.py
  cryton/modules/metasploit/module.py
  cryton/modules/nmap/module.py
  cryton/modules/script/module.py
  tests/unit/modules/test_command.py
  tests/unit/modules/test_ffuf.py
  tests/unit/modules/test_medusa.py
  tests/unit/modules/test_metasploit.py
  tests/unit/modules/test_nmap.py
  tests/unit/modules/test_script.py
  tests/unit/modules/test_wpscan.py
Due: unit_tests, integration_tests

Deployed 37825d8 to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Merge playground in to Cryton
  cryton/hive/models/plan.py
  cryton/hive/models/run.py
  cryton/hive/triggers/trigger_base.py
  docker-compose.dev.yml
  docker-compose.playground.yml
  docker-compose.prerequisites.yml
  docker-compose.yml
  docker/playground/Dockerfile
  docker/playground/manual-execution.md
  docker/playground/resources/create_tables.sql
  docker/playground/resources/fill_tables.sql
  docker/playground/resources/inventory.yml
  docker/playground/resources/pass_list.txt
  docker/playground/resources/rabbitmq.conf
  docker/playground/resources/run_example_scenario.sh
  docker/playground/resources/template.yml
  docker/playground/resources/user_list.txt
  docker/playground/resources/vsftpd.log
  docs/images/playground-attack-diagram.png
  docs/images/playground-infrastructure.png
  docs/installation.md
  docs/playground.md
  docs/quick-start.md
Due: unit_tests, integration_tests, build_documentation

Deployed 03e7c28 to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/images/playground-attack-diagram.png
  public/master/images/playground-infrastructure.png
  public/master/installation/index.html
  public/master/playground/index.html
  public/master/quick-start/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Replaced return codes with results
  cryton/hive/cryton_app/views/plan_views.py
  cryton/hive/models/step.py
  cryton/hive/models/worker.py
  cryton/hive/triggers/trigger_base.py
  cryton/hive/utility/constants.py
  cryton/lib/utility/enums.py
  cryton/lib/utility/module.py
  docker/playground/resources/template.yml
  docs/design-phase/step.md
  docs/execution-phase/execution.md
  docs/execution-phase/reporting.md
  examples/scenarios/advanced-example/report.yml
  examples/scenarios/advanced-example/template.yml
  examples/scenarios/basic-example/report.yml
  examples/scenarios/basic-example/template.yml
  examples/scenarios/datetime-trigger-example/report.yml
  examples/scenarios/dynamic-execution-example/report.yml
  examples/scenarios/empire-agents-example/linux/report.yml
  examples/scenarios/empire-agents-example/linux/template.yml
  examples/scenarios/empire-agents-example/windows/report.yml
  examples/scenarios/empire-agents-example/windows/template.yml
  examples/scenarios/execution-variables-example/report.yml
  examples/scenarios/execution-variables-example/template.yml
  examples/scenarios/http-trigger-example/report.yml
  examples/scenarios/metasploitable3-example/report.yml
  examples/scenarios/metasploitable3-example/template.yml
  examples/scenarios/msf-trigger-example/report.yml
  examples/scenarios/output-sharing-example/report.yml
  examples/scenarios/output-sharing-example/template.yml
  examples/scenarios/pivoting-example/report.yml
  examples/scenarios/pivoting-example/template.yml
  examples/scenarios/sessions-example/report.yml
  examples/scenarios/sessions-example/template.yml
  tests/integration/hive/test_listener.py
  tests/template.yml
  tests/unit/hive/test_stage.py
  tests/unit/hive/test_step.py
Due: unit_tests, integration_tests, build_documentation

Deployed 2a2b964 to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/design-phase/step/index.html
  public/master/execution-phase/execution/index.html
  public/master/execution-phase/reporting/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Merge the Configurations repository
  .gitlab-ci.yml
  Dockerfile-worker
  docker/ci-python/Dockerfile
  docker/ci-python/pyenv.sh
  docs/development/index.md
  docs/docker-images.md
  docs/installation.md
  mkdocs.yml
Due: unit_tests, integration_tests, build_documentation

Deployed 0171dfb to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/development/index.html
  public/master/playground/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Updated Docker configuration
  docker-compose.prerequisites.yml
  docker-compose.yml
  docs/installation.md
  docs/playground.md
  mkdocs.yml
Due: build_documentation

Deployed 683ec4c to master in public with MkDocs 1.5.3 and mike 2.0.0
  public/master/installation/index.html
  public/master/playground/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Replace pymetasploit3 with snek-sploit
  cryton/hive/triggers/trigger_msf.py
  cryton/lib/metasploit/__init__.py
  cryton/lib/metasploit/client.py
  cryton/modules/command/module.py
  cryton/modules/metasploit/module.py
  cryton/worker/config/settings.py
  cryton/worker/empire.py
  cryton/worker/event.py
  cryton/worker/triggers/listener_msf.py
  cryton/worker/utility/exceptions.py
  cryton/worker/utility/util.py
  cryton/worker/worker.py
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docker-compose.playground.yml
  docker-compose.prerequisites.yml
  docker-compose.yml
  docker/playground/resources/template.yml
  docs/design-phase/stage.md
  docs/modules/list/command.md
  docs/modules/list/metasploit.md
  examples/scenarios/advanced/template.yml
  examples/scenarios/empire-agents/windows/template.yml
  examples/scenarios/execution-variables/template.yml
  examples/scenarios/metasploitable3/template.yml
  examples/scenarios/msf-trigger/template.yml
  examples/scenarios/output-sharing/template.yml
  examples/scenarios/pivoting/template.yml
  examples/scenarios/sessions/template.yml
  poetry.lock
  pyproject.toml
  tests/template.yml
  tests/unit/modules/test_command.py
  tests/unit/modules/test_metasploit.py
  tests/unit/worker/test_util.py
  tests/unit/worker/test_worker.py
Due: unit_tests, integration_tests, build_documentation

Update command module for new snek-sploit version
  cryton/modules/command/module.py
  docs/modules/list/command.md
  poetry.lock
  pyproject.toml
  tests/unit/modules/test_command.py
Due: unit_tests, integration_tests, build_documentation

Allow output post-processing (replacement)
  cryton/hive/cryton_app/migrations/0001_initial.py
  cryton/hive/cryton_app/models.py
  cryton/hive/models/step.py
  cryton/modules/nmap/module.py
  cryton/worker/worker.py
  docs/design-phase/step.md
  examples/scenarios/output-postprocessing/report.yml
  examples/scenarios/output-postprocessing/template.yml
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Deployed 11fd320 to master in public with MkDocs 1.6.0 and mike 2.1.1
  public/master/design-phase/step/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Version 2 release
  docs/design-phase/index.md
  docs/design-phase/plan.md
  docs/design-phase/step.md
  docs/design-phase/template.md
  docs/development/index.md
  docs/execution-example.md
  docs/execution-phase/dynamic-execution.md
  docs/execution-phase/index.md
  docs/execution-phase/run.md
  docs/interfaces/cli.md
  docs/logging.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Implement atomic red team techniques
  cryton/modules/atomic_red_team/__init__.py
  cryton/modules/atomic_red_team/module.py
  docs/modules/list/atomic_red_team.md
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Deployed 9f0e320 to master in public with MkDocs 1.6.0 and mike 2.1.2
  public/master/modules/list/atomic_red_team/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Add option to require Metasploit and fix output replacement
  Dockerfile
  Dockerfile-api-proxy
  Dockerfile-cli
  Dockerfile-hive
  Dockerfile-worker
  cryton/hive/models/step.py
  cryton/worker/cli.py
  cryton/worker/config/settings.py
  cryton/worker/worker.py
  docs/modules/list/atomic-red-team.md
  docs/settings.md
  mkdocs.yml
  settings
  settings.yml
  tests/unit/worker/test_worker.py
Due: unit_tests, integration_tests, build_documentation
