Repository CSIRT-MU/Cryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit_tests, integration_tests, black, build_documentation

Path conditions:
  unit_tests: any of: cryton/**/*, tests/**/*, .coveragerc-*, settings*, .gitlab-ci.yml, poetry.lock, pyproject.toml, tox.ini
  integration_tests: any of: cryton/**/*, tests/**/*, .coveragerc-*, settings*, .gitlab-ci.yml, poetry.lock, pyproject.toml, tox.ini
  black: any of: cryton/**/*, tests/**/*, .gitlab-ci.yml, poetry.lock, pyproject.toml
  build_documentation: any of: mkdocs.yml, docs/**/*, .gitlab-ci.yml

fix: use correct kaniko image
  .gitlab-ci.yml
  pyproject.toml
Due: unit_tests, integration_tests, black, build_documentation

Fixes
  cryton/hive/cryton_app/views/run_views.py
  cryton/hive/models/plan.py
  cryton/hive/models/stage.py
  cryton/hive/models/step.py
  cryton/hive/utility/schemas.py
  cryton/hive/utility/util.py
  cryton/lib/config/logger.py
  cryton/lib/utility/module.py
  cryton/modules/atomic_red_team/module.py
  cryton/modules/command/module.py
  cryton/modules/empire/module.py
  cryton/modules/ffuf/module.py
  cryton/modules/medusa/module.py
  cryton/modules/metasploit/module.py
  cryton/modules/nmap/module.py
  cryton/modules/script/module.py
  cryton/modules/wpscan/module.py
  cryton/worker/task.py
  docs/development/modules.md
  pyproject.toml
Due: unit_tests, integration_tests, black, build_documentation

Deployed b27d464 to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/development/modules/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Deployed b27d464 to 3.x in public with MkDocs 1.6.1 and mike 2.1.3
  public/3.x/development/modules/index.html
  public/3.x/search/search_index.json
  public/3.x/sitemap.xml
  public/3.x/sitemap.xml.gz
Due: none

fix: require one stage/step at a time for creation
  cryton/hive/cryton_app/views/stage_views.py
  cryton/hive/cryton_app/views/step_views.py
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, black

Switch to Poetry v2
  .gitlab-ci.yml
  docker/ci-python/Dockerfile
  docker/production-base/Dockerfile
  docs/development/index.md
  docs/installation.md
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, black, build_documentation

chore: updated project dependencies
  poetry.lock
Due: unit_tests, integration_tests, black

ci: always pull the newest ci-python image
  .gitlab-ci.yml
Due: unit_tests, integration_tests, black, build_documentation

ci: updated typo to check if there is a cache in gitlab
  .gitlab-ci.yml
Due: unit_tests, integration_tests, black, build_documentation

chore: updated dependencies
  poetry.lock
Due: unit_tests, integration_tests, black
