Repository CSIRT-MU/Cryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit_tests, integration_tests, build_documentation

Path conditions:
  unit_tests: any of: cryton/**/*, tests/**/*, .coveragerc-*, settings*, .gitlab-ci.yml, poetry.lock, pyproject.toml, tox.ini
  integration_tests: any of: cryton/**/*, tests/**/*, .coveragerc-*, settings*, .gitlab-ci.yml, poetry.lock, pyproject.toml, tox.ini
  build_documentation: any of: mkdocs.yml, docs/**/*, .gitlab-ci.yml

patched empire module
  cryton/hive/models/step.py
  cryton/worker/empire.py
Due: unit_tests, integration_tests

addressed PR1 feedback
  cryton/hive/models/step.py
  cryton/worker/empire.py
  cryton/worker/task.py
Due: unit_tests, integration_tests

Resolve "Docker Compose should install the latest stable version"
  docker-compose.yml
Due: none

Deployed 7b3e77f to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Merge branch '13-docker-compose-should-install-latest-stable-version' into 'master'
  docker-compose.yml
Due: none

Revert changes in cryton/hive/models/step.py
  cryton/hive/models/step.py
Due: unit_tests, integration_tests

patched empire module (#1)
  cryton/worker/empire.py
  cryton/worker/task.py
Due: unit_tests, integration_tests

chore: bumped project version
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests

Deployed a7b58c3 to 2.x in public with MkDocs 1.6.0 and mike 2.1.2
  public/2.x/sitemap.xml
  public/2.x/sitemap.xml.gz
Due: none

patched empire module (#1)
  cryton/modules/empire/module.py
Due: unit_tests, integration_tests

Updated the gitlab templates and links from gitlab to github
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Default.md
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/Default.md
  docs/contribution-guide.md
Due: build_documentation

Deployed 6bf770a to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/contribution-guide/index.html
  public/master/search/search_index.json
Due: none

Updated the gitlab templates and links from gitlab to github Bumped version
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Default.md
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/Default.md
  docs/contribution-guide.md
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Deployed 998314a to 2.x in public with MkDocs 1.6.0 and mike 2.1.2
  public/2.x/contribution-guide/index.html
  public/2.x/search/search_index.json
Due: none

Deprecate Ansible for Cryton version 2 and further
  docs/ansible/ansible.md
  docs/ansible/inventory.yml
  docs/ansible/playbook-docker.yml
  docs/ansible/playbook-pip.yml
  docs/installation.md
  mkdocs.yml
Due: build_documentation

docs: added notice about ansible removal into installation page and removed ansible section chore: bumped version
  docs/ansible/ansible.md
  docs/ansible/inventory.yml
  docs/ansible/playbook-docker.yml
  docs/ansible/playbook-pip.yml
  docs/installation.md
  mkdocs.yml
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Resolve "Job ID is not sent when scheduling a job"
  cryton/hive/cryton_app/migrations/0001_initial.py
  cryton/hive/cryton_app/models.py
  cryton/hive/models/plan.py
  cryton/hive/models/run.py
  cryton/hive/models/stage.py
  cryton/hive/services/listener.py
  cryton/hive/services/scheduler.py
Due: unit_tests, integration_tests

Deployed 81dc8e8 to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Added days parameter for the delta trigger
  cryton/hive/triggers/trigger_delta.py
  cryton/hive/utility/schemas.py
  docs/design-phase/stage.md
Due: unit_tests, integration_tests, build_documentation

Deployed 2881f1d to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/design-phase/stage/index.html
  public/master/search/search_index.json
Due: none

Added support for command and group aliases
  cryton/cli/cli.py
  cryton/cli/commands/execution_variable.py
  cryton/cli/commands/log.py
  cryton/cli/commands/plan.py
  cryton/cli/commands/plan_template.py
  cryton/cli/commands/run.py
  cryton/cli/commands/stage.py
  cryton/cli/commands/step.py
  cryton/cli/commands/worker.py
  cryton/cli/utility/helpers.py
  docs/interfaces/cli.md
Due: unit_tests, integration_tests, build_documentation

Deployed 0d650a3 to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/interfaces/cli/index.html
  public/master/search/search_index.json
Due: none

Rework logging
  cryton/hive/config/settings.py
  cryton/hive/cryton_app/management/commands/start.py
  cryton/hive/cryton_app/views/log_views.py
  cryton/hive/models/plan.py
  cryton/hive/models/run.py
  cryton/hive/models/stage.py
  cryton/hive/models/step.py
  cryton/hive/services/listener.py
  cryton/hive/services/scheduler.py
  cryton/hive/utility/event.py
  cryton/hive/utility/exceptions.py
  cryton/hive/utility/logger.py
  cryton/hive/utility/rabbit_client.py
  cryton/hive/utility/states.py
  cryton/hive/utility/util.py
  cryton/lib/config/logger.py
  cryton/lib/utility/helpers.py
  cryton/modules/empire/module.py
  cryton/worker/consumer.py
  cryton/worker/event.py
  cryton/worker/task.py
  cryton/worker/triggers/listener_base.py
  cryton/worker/triggers/listener_http.py
  cryton/worker/triggers/listener_msf.py
  cryton/worker/utility/logger.py
  cryton/worker/worker.py
  docs/logging.md
Due: unit_tests, integration_tests, build_documentation

Deployed 1a36ebd to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/logging/index.html
  public/master/search/search_index.json
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

Fix module validation
  cryton.schema.json
  cryton/hive/cryton_app/views/plan_execution_views.py
  cryton/hive/cryton_app/views/run_views.py
  cryton/hive/models/plan.py
  cryton/hive/models/run.py
  cryton/hive/models/stage.py
  cryton/hive/models/step.py
  cryton/lib/utility/module.py
  cryton/lib/utility/schemas.py
  cryton/worker/utility/util.py
Due: unit_tests, integration_tests

Release 3.0 chores
  cryton/cli/commands/run.py
  docs/installation.md
  docs/playground.md
  poetry.lock
  pyproject.toml
Due: unit_tests, integration_tests, build_documentation

Bump cryton version in the documentation
  docs/.variables.yml
Due: build_documentation

Deployed 4c5bf3d to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/execution-example/index.html
  public/master/execution-phase/dynamic-execution/index.html
  public/master/installation/index.html
  public/master/quick-start/index.html
  public/master/search/search_index.json
  public/master/settings/index.html
  public/master/sitemap.xml
  public/master/sitemap.xml.gz
Due: none

chore: bumped prerequisites versions
  docker-compose.prerequisites.yml
  docker-compose.yml
Due: none

docs: moved information about json schema to a better place
  docs/design-phase/index.md
Due: build_documentation

Deployed 774e137 to master in public with MkDocs 1.6.1 and mike 2.1.3
  public/master/design-phase/index.html
  public/master/search/search_index.json
Due: none
